@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model IEnumerable<Dot.Models.TravelTicket>*@

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Booked</th>
      <th scope="col">Category</th>
      <th scope="col">PassangerName</th>
      <th scope="col">Route</th>
    </tr>
  </thead>
  <tbody>
        @foreach (var item in Model){
    <tr>
       <td>@item</td>
       <td>@item.Booked</td>
       <td>@item.Category</td> 
       <td>@item.PassangerName</td>
       <td>@item.Route</td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
        </td>
       
    </tr>
    
      } 
  </tbody>
</table>